/* Optional custom styles */
@media (max-width: 767px) {
    #employeeListCard {
        padding: 15px;
    }

    #employeeFormCard {
        padding: 15px;
    }

    .card {
        margin-bottom: 20px;
    }
}

table th, table td {
    text-align: center;
}

/* Responsive Table */
@media (max-width: 768px) {
    table th, table td {
        font-size: 0.9rem;
    }
}


.logo {
    max-height: 80px;
    object-fit: contain;
}
